header {
  padding: 20px 15px;
  background-color: rgb(185, 185, 185);
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  text-decoration: none;
  color: rgb(60, 60, 60);
  text-align: center;
}

main h2 {
  text-align: center;
  margin-right: 50px;
  margin-bottom: 20px;
}


.pokemon-container{
  display: grid;
  grid-template-columns: 200px 200px 200px;
  text-align: center;
  justify-content: center;
}

.pokemon-container a {
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  color: #353535;
}

.pokemon-container a:visited {
  color: 353535;
}

.pokemon-container a:hover{
  font-size: 22px;
  font-weight: bold;
  text-shadow: #353535;
}


.pokemon-item{
  background-image: url('../src/assets/pokeicon.png');
  background-position: center;
  background-size: 320px;
  min-height: 120px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  font-size: 20px;
  border-radius: 5%;
}

.pokemon-detail-container{
  display: flex;
  flex-direction: column;
}

.pokemon-detail {
  display: flex;
  align-items: center;
  font-size: 25px;
  justify-content: space-evenly;
}

.capture-btn{
  margin-top: 20px;
  width: 200px;
  height: 60px;
  align-self: center;
  font-size: 30px;
  border: none;
  background-color: rgb(163, 59, 59);
  color: white;
}

.capture-btn:hover{
  background-color: rgb(209, 82, 82);
  font-size: 33px;
  cursor: pointer;
}


.pokedex-container {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 400px 400px;
}

.pokedex-item {
  display: flex;
  width: 380px;
  height: 380px;
  flex-direction: column;
  text-align: center;
  font-size: 25px;
}

.pokedex-image{
  height: 360px;
}

picture {
  border-radius: 100%;
}

.grass {
  background-color: #79c74c77;
}

.water {
  background-color: #6390f07a;
}

.normal {
  background-color: #a8a77a7c;
}

.fire {
  background-color: #ee823072;
}

.electric {
  background-color: #f7ce2c79;
}

.ice {
  background-color: #96d9d685;
}

.fighting {
  background-color: #c22d2878;
}

.poison {
  background-color: #a33ea172;
}

.ground {
  background-color: #e2bf6577;
}

.flying {
  background-color: #aa8ff375;
}

.psychic {
  background-color: #f9558677;
}

.bug {
  background-color: #a6b91a75;
}

.rock {
  background-color: #b6a1367a;
}

.ghost{
  background-color: #73579766;
}

.dragon {
  background-color: #6d35fc6d;
}

.steel {
  background-color: #b7b7ce77 ;
}
